

/* Centralização do pop-up no interior da sidebar */
.popup-overlay {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  width: 80%;
}

.popup-welcome {
  display: flex;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.popup-left {
  flex: 1;
  padding-right: 20px;
}

.popup-right {
  flex: 1;
}

.popup-logo {
  width: 100px;
  margin-top: 20px;
}

.popup-button {
  background-color: #34d399;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.popup-button:hover {
  background-color: #2bb78b;
}
