@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.popUp-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.096);
}

.popUp-infoProd-container {  /* o container base do popUp */
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 10;
    gap: 5%;
    background-color: #ffffff;
    width: 82%;
    height: 80%;
    padding: 2%;
    cursor: default;
    border-radius: 10px;
}

.espaco-img-prod-popUp-container {
   width: 37%;
   display: flex;
   align-items: center;
}

.fundo-img-popUp {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    height: 100%;
    width: 100%;
    border-radius: 2%;
}

.fundo-img-popUp img {
    width: 80%;
    height: 80%;
}

.infos-produto-popUp-container {
    width: 46%;
    display: flex;
    flex-direction: column;
    padding: 3%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 2%;
}

/* superior e inferior da div de info dos produtos, como nome descrição e botão */
.parte-superior-popUp {
    width: 100%;
    height: 50%;

}

.parte-inferior-popUp {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.parte-inferior-popUp button {
    color: #ffffff;
    background-color: #00C677;
    font-size: 24px;
    font-weight: 600;
    border: none;
    border-radius: 9px;
    width: 100%;
    height: 19%;
}

.bttn-fecha-PopUp {
    border: none;
    background-color: #ffffff;
    position: absolute; 
    top: 25px;      
    right: 30px;         
    cursor: pointer;
}

.categoria-info-produto {
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    color: #00C677;
    font-weight: 500;
}

.nome-info-produto {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

.descricao-info-produto {
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    color: rgb(66, 66, 66);
}

.preco-info-produto {
    font-family: 'Poppins', sans-serif;
    font-size: 33px;
    font-weight: 500;
    color: #00C677;
}