/* Container principal */
.container-CadastroProdutos {
    display: flex;
    flex-direction: column;
    margin-left: 120px; 
    padding: 20px;
    height: 100vh; /* Ocupa a altura total da tela */
}

/* Título */
.titulo {
    width: 70%;
}

.titulo h1 {
    font-size: 33px;
    color: #0C194E;
    margin-top: 25px;
    margin-left: 40px;
    margin-bottom: 20px;
}

/* Formulário */
.container-formulario {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 20px;
    height: 80%; 
    margin-left: 40px;
}

/* Estilos para a Vitrine */
.container-vitrine {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    width: 46%; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    height: 100%; 
}

/* Título da Vitrine */
.titulo-vitrine {
    margin-top: 40px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

/* Seções internas da Vitrine */
.container-vitrine h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 33px;
    color: #333;
}
.container-detalhes h2 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

/* Estilos para campos de entrada na Vitrine e Detalhes */
.container-vitrine input,
.container-detalhes input {
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    border: 1px solid #898989;
    background-color: #FAFAFA;
    font-size: 14px;
}

/* Ajuste do espaço entre <p> e <input> */
.container-vitrine p,
.container-detalhes p {
    margin: 0 0 5px 0; 
    font-size: 14px;
    color: #333;
    font-weight: 600;
}

/* Container de Detalhes */
.container-detalhes {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    width: 46%;
    height: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 53px;
}

.container-detalhes h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;
}

/* Estilos para botões */
.botoes {
    display: flex;
    gap: 40px;
    justify-content: flex-end;
    
}

.salvar {
    background-color: #28a745;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.salvar:hover {
    background-color: #218838;
}

.cancelar {
    background-color: #0C194E;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid white;
    transition: background-color 0.3s;
    width: 180px;
    
}

.cancelar:hover {
    background-color: #212e63;
}

.borda-botoes{
    background-color: #001b3f;
    height: 80px;
    width: 580px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left: 11%;
    border-radius: 10px;
    margin-top: 30%;
}



/* Container da imagem */
.container-image {
    width: 100%;
    height: 277px;
    background-color: #0C194E;
    border-radius: 8px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; 
    box-sizing: border-box;
  }
  
  /* Estilo para .imagemProduto */
  .imagemProduto {
    background-color: #0C194E;
    width: 100%; 
    height: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    overflow: hidden; 
  }
  
  /* Feedback visual (se a imagem não for carregada) */
  .imagemProduto p {
    color: #FAFAFA;
    font-size: 16px;
    font-weight: bold;
  }
  
  /* Estilo para a imagem */
  .imagemProduto img {
    object-fit: cover; 
    width: 50%; 
    height: 90%; 
    object-position: center; 
    border-radius: 5px;
  }
  
  .select-category {
    margin-bottom: 30px;
    
  }
