.mercado-estoque {
  display: flex;
}

.container-mercadoEstoque {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-left: 120px;
  height: 100vh;
}

.tituloEstoque {
  margin-bottom: 39px;
  color: #001f54;
  margin-top: 20px;
}

.busca-novo-produto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #001f54;
  border-radius: 8px;
  height: 100px;
}

.input-icon {
  position: relative;
  width: 40%;
}

.input-icon i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #333;
  font-size: 1.2em;
}

.input-icon input {
  background-color: white;
  color: #333;
  padding: 10px 15px;
  padding-left: 40px; /* Espaço para o ícone */
  border-radius: 3px;
  width: 100%;
  font-size: 1em;
  height: 50px;
  border: none;
  
}

.botao-novo-produto {
  background-color: #ffffff;
  color: #001f54;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  transition: background-color 0.3s ease;
  width: 20%;
  height: 50px;
  font-size: 18px;
  gap: 10px;
  text-align: center;
}

.botao-novo-produto:hover {
  background-color: #f0f0f0;
}

.botao-novo-produto i {
  color: #2ecc71;
  font-size: 1.2em;
  margin-left: 1px;
}

.tabela-produtos {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
}

.tabela-produtos th, .tabela-produtos td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.tabela-produtos th {
  background-color: #001f54;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.tabela-produtos tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.tabela-produtos tbody tr:hover {
  background-color: #f1f1f1;
}

.produto-info {
  display: flex;
  align-items: center;
}

.produto-imagem-placeholder {
  width: 40px;
  height: 40px;
  background-color: #ccc;
  margin-right: 10px;
  border-radius: 5px;
}

.produto-detalhes {
  font-size: 0.9em;
  color: #666;
}

.disponivel {
  display: flex;
  align-items: center;
  gap: 8px;
}

.circulo-disponivel {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.circulo-disponivel.verde {
  background-color: #009688;
}

.circulo-disponivel.vermelho {
  background-color: #C50000;
}

