.tela-usuario{
    display: grid;
    place-items: center;
    align-items: flex-start;

}

.cabecario-perfil-usuario h1{
    display: flex;
    color: aliceblue;
    margin-left: 3%;
    margin-top: 1%

}

.cabecario-perfil-usuario{
    display: flex;
    margin: 1% auto 0 auto;
    border-radius: 10px 10px 0 0;
    background-color: #0C194E;
    width: 35%;
    height: 95%;

}

.container-info{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.301);
    justify-content: center;
    border-radius: 0 0 10px 10px;
    margin-top: 1.5%;
    width: 35%;
    height: 63%;

      
}

.cabecalio-info {
    display: flex;
    color: #0C194E;
    justify-content: space-between;
    margin-left: 3%;
    margin-top: 1.5%;

}
.cabecalio-info button{
    background-color: #00c677;
    border: none;
    font-size: 16px;
    color: white;
    height: 30px;
    width: 85px;
    border-radius: 20px;
    margin-right: 3.5%;
    
}
.informacoes-detalhadas{
    margin: 3%;

}


.informacoes-detalhadas input{
    border: none;
    outline: none;
    background-color: rgba(240, 255, 255, 0);
    width: 95%;

}

.informacoes-detalhadas hr{
    width: 95%;

}

.container-contato{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.301);
    border-radius: 19px;
    height: 55%;
    margin-top: 6%;
    border-radius: 10px 10px 0 0;

}

.cabecario-contato{
    display: flex;
    color: #0C194E;
    justify-content: space-between;
    margin-left: 3%;

}

.cabecario-contato button{
    background-color: #00c677;
    border: none;
    font-size: 16px;
    color: white;
    height: 30px;
    width: 85px;
    border-radius: 20px;
    margin-right: 3.5%;
    margin-top: 1.5%;

}

.informacoes-detalhadas-contato{
    margin-left: 3%;

}

.informacoes-detalhadas-contato input{
    border: none;
    outline: none;
    background-color: rgba(240, 255, 255, 0);
    width: 95%;

}

.informacoes-detalhadas-contato hr{
    width: 95%;

}

.excluirConta-usuario{
    border: none;
    background-color: #0C194E;
    color: aliceblue;
    width: 35%;
    height: 45px;
    border-radius: 10px;
    font-size: 24px;
    border-radius: 0 0 10px 10px;
    margin-top: 1.5%;

}