.tela-mercado{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.cabecario-perfil-mercado h1{
    display: flex;
    color: aliceblue;
    margin-left: 3%;
    margin-top: 1%

}

.cabecario-perfil-mercado{
    display: flex;
    border-radius: 10px 10px 0 0;
    background-color: #0C194E;
    width: 35%;
    height: 95%;

}

.container-info-mercado{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.301);
    justify-content: center;
    margin-top: 0.5%;
    width: 35%;
    height: 23%;

}

.cabecalio-info-mercado{
    display: flex;
    color: #0C194E;
    justify-content: space-between;
    margin-left: 3%;
    margin-top: 1.5%;

}

.cabecalio-info-mercado button{
    background-color: #00c677;
    border: none;
    font-size: 16px;
    color: white;
    height: 30px;
    width: 85px;
    border-radius: 20px;
    margin-right: 3.5%;
    margin-top: 1.5%;
    
}

.informacoes-detalhadas-mercado{
    margin: 3%;

}

.informacoes-detalhadas-mercado input{
    border: none;
    outline: none;
    background-color: rgba(240, 255, 255, 0);
    width: 95%;

}

.informacoes-detalhadas-mercado{
    width: 95%;

}

.container-contato-mercado{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.301);
    height: 55%;
    width: 35%;
    margin-top: 1.5%;

}

.cabecario-contato-mercado{
    display: flex;
    color: #0C194E;
    justify-content: space-between;
    margin-left: 3%;

}

.cabecario-contato-mercado button{
    background-color: #00c677;
    border: none;
    font-size: 16px;
    color: white;
    height: 30px;
    width: 85px;
    border-radius: 20px;
    margin-right: 3.5%;
    margin-top: 1.5%;

}

.informacoes-detalhadas-contato-mercado{
    margin-left: 3%;

}

.informacoes-detalhadas-contato-mercado input{
    border: none;
    outline: none;
    background-color: rgba(240, 255, 255, 0);
    width: 95%;

}

.informacoes-detalhadas-contato-mercado hr{
    width: 95%;

}

.container-endereco{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.301);
    justify-content: center;
    border-radius: 0 0 10px 10px;
    margin-top: 1.5%;
    width: 35%;
    height: 23%;

}

.cabecario-endereco{
    display: flex;
    color: #0C194E;
    justify-content: space-between;
    margin-left: 3%;
    margin-top: 1.5%;

}

.cabecario-endereco button{
    background-color: #00c677;
    border: none;
    font-size: 16px;
    color: white;
    height: 30px;
    width: 85px;
    border-radius: 20px;
    margin-right: 3.5%;
    margin-top: 1.5%;

}

.informacoes-detalhadas-endereco{
    margin-left: 3%;

}

.informacoes-detalhadas-endereco input{
    border: none;
    outline: none;
    background-color: rgba(240, 255, 255, 0);
    width: 95%;

}

.cabecario-endereco hr{
    width: 95%;

}

.excluirConta-mercado{
    border: none;
    background-color: #0C194E;
    color: aliceblue;
    width: 35%;
    height: 45px;
    border-radius: 10px;
    font-size: 24px;
    border-radius: 0 0 10px 10px;
    margin-top: 0.5%;

}