.tela-gerente{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1.5%;
    
}

.cabecario-perfil-gerente h1{
    display: flex;
    color: aliceblue;
    margin-left: 3%;
    margin-top: 1%

}

.cabecario-perfil-gerente{
    display: flex;
    margin: 1% auto 0 auto;
    border-radius: 10px 10px 0 0;
    background-color: #0C194E;
    width: 35%;
    height: 95%;

}

.container-info-gerente{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.301);
    justify-content: center;
    margin-top: 1.5%;
    width: 35%;
    height: 63%;

}

.cabecalio-info-gerente{
    display: flex;
    color: #0C194E;
    justify-content: space-between;
    margin-left: 3%;
    margin-top: 1.5%;

}

.cabecalio-info-gerente button{
    background-color: #00c677;
    border: none;
    font-size: 16px;
    color: white;
    height: 30px;
    width: 85px;
    border-radius: 20px;
    margin-right: 3.5%;

}

.informacoes-detalhadas-gerente{
    margin: 3%;

}

.informacoes-detalhadas-gerente input{
    border: none;
    outline: none;
    background-color: rgba(240, 255, 255, 0);
    width: 95%;

}

.informacoes-detalhadas-gerente hr{
    width: 95%;

}

.container-contato-gerente{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.301);
    height: 55%;
    width: 35%;
    margin-top: 1.5%;

}

.cabecario-contato-gerente{
    display: flex;
    color: #0C194E;
    justify-content: space-between;
    margin-left: 3%;

}

.cabecario-contato-gerente button{
    background-color: #00c677;
    border: none;
    font-size: 16px;
    color: white;
    height: 30px;
    width: 85px;
    border-radius: 20px;
    margin-right: 3.5%;
    margin-top: 1.5%;

}

.informacoes-detalhadas-contato-gerente{
    margin-left: 3%;

}

.informacoes-detalhadas-contato-gerente input{
    border: none;
    outline: none;
    background-color: rgba(240, 255, 255, 0);
    width: 95%;

}

.informacoes-detalhadas-contato-gerente hr{
    width: 95%;

}

.excluirConta-gerente{
    border: none;
    background-color: #0C194E;
    color: aliceblue;
    width: 34%;
    height: 45px;
    border-radius: 10px;
    font-size: 24px;
    border-radius: 0 0 10px 10px;
    margin-left: 33%;

}

.pop-container-ger {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60%;
    left: 50%;
    gap: 20px;
    transform: translate(-50%, -60%);
    background-color: white;
    border: 1px solid #ddd;
    padding: 30px;
    border-radius: 8px;
    z-index: 10;
}

.pop-container-ger h2{
    color: #0C194E;

}

.botao-excluir-ger{
    background-color: #00c677;
    border: none;
    border-radius: 9px;
    font-size: 16px;
    height: 47px;
    color: white;

}

.botao-cancelar-ger{
    background-color: #00c67700;
    border: none;
    border-radius: 9px;
    font-size: 16px;
    height: 47px;
    color: #00c677;

}

.botao-cancelar-ger:hover{
    background-color: rgb(243, 243, 243);

}

.overlay-pop {
    position: fixed;
    border: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}