.cabecario-perfil-usuario h1{
    display: flex;
    color: aliceblue;

}

.cabecario-perfil-usuario{
    display: flex;
    border-radius: 10px 10px 0 0;
    background-color: #0C194E;
    width: 46%;

}

.container-info{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    justify-content: center;
    border-radius: 19px;
    width: 35%;
    height: 35%;

}

.cabecalio-info{
    display: flex;
    color: #0C194E;
    justify-content: space-between;

}

.cabecalio-info button{
    background-color: #00C677;
    border: none;
    color: aliceblue;
    border-radius: 17px;
    height: 35px;
    width: 45px;

}

.informacoes-detalhadas{
    border: none;


}

.container {
    margin: 20px;
}

.input-transparente {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid transparent;
    padding: 10px;
    font-size: 16px;
    outline: none; /* Remove o contorno ao focar */
    transition: border-bottom 0.3s; /* Transição suave para a borda */
}

.input-transparente.editando {
    border-bottom: 2px solid #4CAF50; /* Borda verde ao editar */
    background-color: white; /* Fundo branco quando editando */
}

