@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  padding: 10px 16px;
  height: 84px;
  border-bottom: 2px solid #e3e2e2;
}

#container-centro-nav {
  display: flex;
  align-items: center;
  height: 100%;
  width: 42%;
}

#container-esquerdo-nav {
  display: flex;
  align-items: center;
  height: 100%;
  width: 28%;
}

#logo-container .logo {
  height: 40px;
}

#links-container {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: 45px;
}

#links-container .nav-link {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #717171;
}

#links-container .nav-link:hover {
  color: #00C677;
  transition: 0.2s;
}

#links-container .active-link {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #00C677;
}

#container-direito-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 30%;

}

#endereco-button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 60%;
  margin-left: 8%;
}

#endereco-button .endereco-container {
  display: flex;
  align-items: center;
  gap: 8px;
}


#endereco-button .endereco-text {
  font-family: 'Poppins', sans-serif;
  color: #717171;
  font-weight: 500;
  font-size: 15px;
}


#endereco-button .endereco-number {
  font-weight: 500;
  font-size: 16px
}

#endereco-button .arrow-icon {
  height: 10px;
  margin-left: 5px;
}

#user-list-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

#user-list-container .user-button,
#user-list-container .list-button {
  background: none;
  display: flex;
  align-items: center;
  gap: 2px;

  border: none;
  cursor: pointer;
}

#user-list-container .list-button div {
  display: flex;
  flex-direction: column;
}

#user-list-container .user-icon {
  height: 30px;
  margin-top: 2px;
}

#user-list-container .list-icon {
  height: 31px;
  margin-right: 6px;
}

.span-container {
  display: flex;
  flex-direction: column;
  align-items: start;

}

#user-list-container .list-total {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #717171;
  margin-top: 2px;
}

#user-list-container .list-items {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #717171;
  margin-top: -4px;
}