#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #0C194E;
    height: 100vh;
    position: fixed;
    width: 115px;
    transition: width 0.5s;
    color: #333;
    border-right: 1px solid #ddd;
}

.icon-mercado{
    width: 71px;
    height: 100px;
}
#sidebar_content {
    padding: 20px;
}

#side_items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 12px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    transition: background-color 0.3s;
    border-radius: 8px;
    margin-top: 30%;
    cursor: pointer;
    padding-top: 35px;
}

.side-item i {
    font-size: 30px; /* Ajuste do tamanho do ícone */
}

.side-item:hover {
    background-color: #f0f0f02c;
}

#logout {
    padding: 20px;
    border-top: 1px solid #ddd;
}

#logout_btn {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

#logout_btn:hover {
    background-color: #f0f0f025;
}

