.esquerdaAcesso{
    width: 590px;
    height: 574px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.14);
    background: #FFF;
    backdrop-filter: blur(54.650001525878906px);
    filter: drop-shadow(30px 30px rgba(217, 217, 217, 0.28));
    display: flex;
    justify-content: center;
}

.container-inputsAcesso{
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    gap: 1rem;
}

.container-inputsLoginCliente{
    width: 474px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    gap: 1rem;
}

.container-inputs {
    display: flex;
    flex-direction: column;
}

.input-LoginCliente {
    width: 474px;
    height: 52px;
    flex-shrink: 0;
    font-size: 17px;
    padding: 0 14px;
    border-radius: var(--Corner-Extra-small, 4px);
    border: 0.5px solid rgba(150, 150, 150, 0.39);
    background: #FFF;
} 

.label {
    width: 100%;
    height: 13px;
    flex-shrink: 0;
    color: var(--Azul-Principal, #0C194E);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px; /* 75% */
    margin-bottom: 0.5rem;
}

.reset-senha{
    color: #00C677;
    background-color: #FFF;
    border: none;
    display: flex;
    width: 320px;
    height: 13px;
    flex-shrink: 0;
    color: var(--Verde-Principal, #00C677);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px; 
    margin-top: 2.5rem; 
}

.acessar {
    color: #FFF;
    width: 328px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 50px;
    border: #0C194E;
    background: var(--Azul-Principal, #0C194E);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 12px; /* 75% */
    margin-top: 1rem; 
    margin-left: 4rem;
}

.acessar:hover {
    background-color: #FFF;
    border: 1px solid var(--Azul-Principal, #0C194E);
    color: #0C194E;
    transition: 0.5s;
}

.acessar .seta {
    margin-left: 1.5rem; /* Adiciona um gap de 0.8rem entre o texto e a seta */
}

.cabecalho-acesso {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        margin-top: 9%;
        justify-content: initial;
        gap: 12.2rem;
}

.Span {
    width: 352px;
    height: 13px;
    flex-shrink: 0;
    color: rgba(0, 0, 0, 0.66);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px; /* 75% */
    display: none;
}

