.backgroundCinza {
    background: rgba(6, 4, 4, 0.212);
    height: 57.4rem;

}

.containerEnderecos {
    display: flex;
    align-items: center;
    margin: 0rem 8rem;
    justify-content: space-between;
    gap: 20px;
    height: 100vh;
}

.conteiner {
    display: flex;
    justify-content: center;
    height: 100%;
    justify-content: space-between;
}

.secao-formulario {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    width: 45%;
    box-sizing: border-box;
    height: 690px;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    margin-left: 15%;
}

.secao-formulario h2 {
    background-color: #0C194E;
    color: white;
    padding: 30px;
    border-radius: 10px 10px 0 0;
    text-align: center;
    height: 100px;
    justify-content: center;
}

.form-row {
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.grupo-formulario {
    display: flex;
    flex-direction: column;
}

.grupo-formulario label {
    font-size: 15px;
    font-weight: bold;
}

.grupo-formulario input {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #D9D9D9;
    margin-top: 5px;
    margin-bottom: 15px;
    width: 100%;
}





.enderecos-salvos {
    position: relative;
    /* Adiciona posicionamento relativo para controle do z-index */
    width: 29%;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 990px;
    z-index: 1;
    /* Camada geral para o container */
}

.enderecos-salvos h3 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

.enderecos-salvos ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.enderecos-salvos li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    position: relative;
}

.enderecos-salvos li .info-endereco {
    display: flex;
    flex-direction: column;
    position: relative;
    /* Posiciona em relação a cada item da lista */
    z-index: 1;
    /* Ajuste para garantir que o conteúdo esteja acima do fundo */
    right: 15%;
}

.enderecos-salvos li .info-endereco span {
    font-weight: bold;
    color: #333;
}

.enderecos-salvos li .info-endereco p {
    color: #666;
    margin: 5px 0;
}

.enderecos-salvos li .apelido-endereco {
    font-weight: bold;
    color: #0C194E;
    position: absolute;
    right: 0;
    top: 10px;
    font-size: 16px;
    z-index: 2;
    /* Apelido acima dos demais detalhes */
}

.botao-editar {
    background-color: #f1f1f1;
    color: #0C194E;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    z-index: 3;
    /* Botão acima de todos */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.botao-editar:hover {
    background-color: #0C194E;
    color: #fff;
    border-color: #0C194E;
}

.botao-cancelar {
    background-color: #D9D9D9;
    color: #0C194E;
    padding: 15px;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    flex-direction: column;
}

.botao-cancelar:hover {
    background-color: rgb(192, 190, 190);
}

.botao-deletar {
    background-color: #0C194E;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 49%;
}

.botao-deletar:hover {
    background-color: #132777;
}

.botoes-alterar-deletar {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.botoes-formulario {
    display: flex;
    gap: 15px;
}

.botoes-alterar-deletar {
    display: flex;
    width: 100%;
}

.botao-salvar {
    background-color: #28a745;
    color: white;
    padding: 15px;
    width: 49%;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.botao-salvar:hover {
    background-color: #28a746e7;
}

.botao-salvar.large {
    padding: 15px;
    width: 100%;
}

.botao-salvar.small {
    padding: 10px;
    width: 49%;
}


.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1.2rem;
    color: #555;
}

.spinner {
    width: 130px;
    height: 130px;
    border: 6px solid transparent;
    /* Mantém o fundo transparente */
    border-top: 6px solid #00C677;
    /* Define a cor da parte giratória */
    border-radius: 50%;
    /* Garante bordas arredondadas */
    animation: spin 1s linear infinite;
    box-shadow: 0 0 0 6px transparent;
    /* Garante uniformidade visual */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.adicionarEndereco {
    width: 1188.646px;
    height: 749.126px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    backdrop-filter: blur(54.650001525878906px);
    padding: 6rem 3rem;
}

.divTotalEsqDir {
    display: flex;
    width: 100%;

}

.ladoEsquerdo {
    width: 50%;

}

.ladoDireito {
    display: flex;
    flex-direction: column;
    gap: 5.8rem;
    align-items: center;
    width: 50%;
}

.bonequinha {
    width: 451px;
    height: 256px;
    margin-top: 2rem;
    margin-bottom: 2.2rem;
}

.btn-salvar {
    width: 502.655px;
    height: 67.992px;
    border-radius: 50px;
    border: none;
    background: #0C194E;
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 12px;
    /* 60% */
}

.containerEndereço {
    background: rgba(255, 255, 255, 0.82);
}

.cabecalhoEndereco {
    display: flex;

}

.botao-com-icone-cafe {
    width: 123px;
    height: 40px;
    flex-shrink: 0;
    border: #B5EBD5;
    border-radius: 17px;
    background: #B5EBD5;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    color: #0C194E;
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
    /* 75% */
}

.botao-com-icone {
    width: 143px;
    height: 40px;
    flex-shrink: 0;
    border: #B5EBD5;
    border-radius: 17px;
    background: #B5EBD5;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    color: #0C194E;
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
    /* 75% */
}

.cabecalhoEndereco {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: initial;
    gap: 41.5rem;
}

.letrinhaSafada {
    color: #0C194E;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Poppins;
    font-size: 32px !important;
    /* Adicionando !important para garantir que a tipografia seja aplicada */
    font-style: normal;
    font-weight: 600;
    line-height: 12px;
}

.letrinhaSafada2 {
    color: #00C677;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 1rem;
}

.espacamentoCabecalho {
    gap: 0.3rem;
}

.botao-voltarCliente3 {
    margin-top: -1.8rem;
    width: 1.1rem;
    height: auto;
    flex-shrink: 0;
}

/* Container geral */
.divEsquerda {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

/* Caixa que contém todos os inputs */
.inputsEndereco {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Linha que organiza os inputs lado a lado */
.linha {
    display: flex;
    gap: 10px;
}

/* Estilo para os campos */
.campo {
    display: flex;
    flex-direction: column;
}

/* Estilos dos inputs */
.input-grande1 {
    width: 406px;
    height: 58px;
    border: none;
    border-radius: 4px;
    background: #ECECEC;
}

.input-pequeno {
    width: 90px;
    height: 58px;
    border: none;
    border-radius: 4px;
    background: #ECECEC;
}

.input-medio {
    width: 248px;
    height: 57px;
    border: none;
    border-radius: 4px;
    background: #ECECEC;
}

.input-grande {
    width: 509.94px;
    height: 58px;
    border: none;
    border-radius: 4px;
    background: #ECECEC;
}

/* Estilo dos labels */
.label {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: bold;
}

.botoesEndereco {
    display: flex;
    gap: 1.5rem;
    align-content: center;
}

.fvEndereco {
    color: #3E3E3E;
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
    margin-bottom: 1.2rem;
    /* 75% */
}

.label-endereco {
    color: #3E3E3E;
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
    gap: 1rem;
    margin-bottom: 0.6rem;
    margin-top: 1rem;

    /* 75% */
}

.inputs-div {
    margin-left: 0;
}

.favEndereco {
    margin-bottom: 2rem;
}

.alinhamentoBotoes {
    display: flex;
}

.enderecosSalvos {
    position: fixed;
    /* Usa 'fixed' para manter a div fixa na tela mesmo ao rolar a página */
    right: 0;
    /* Alinha a div à direita */
    top: 0;
    /* Você pode ajustar o valor de 'top' conforme necessário para o alinhamento vertical */
    width: 481px;
    /* Defina a largura que você deseja para a div */
    height: 100%;
    /* Se quiser que a div ocupe a altura total da tela */
    background: #F0F0F0;
    ;
    /* Cor de fundo da div */
    z-index: 10;
    /* Garante que a div fique acima de outros elementos */
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    /* Sombra para destacar a div */
}

.quadradinhoBranco {
    width: 481px;
    height: 222px;
    background-color: #FFF;
}

.setaVerde {
    border: none;
}

button {
    border: none;
    background-color: #fff;
}

.search-inputEnd {
    width: 421px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background: #EAEAEA url('search.svg') no-repeat left 10px center;
    color: #A7A7A7;
    font-family: poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 40px;
    /* Adiciona espaço à esquerda para o ícone da lupa */
}

.search-barEnd {
    display: flex;
}

.cabecalhoEnd {
    display: flex;
    gap: 7rem;
    align-items: baseline;
    margin-bottom: 0.5rem;
}

.EndSalvos {
    color: #443E3E;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 0.8rem;
}

.paddingEnd {
    padding: 0.5rem 2rem;
}

.preto {
    color: #1C1722;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    margin-top: 0.9rem;
}

.cinza {
    color: #737373;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    margin-bottom: 0.5rem;
}

.loc {
    display: flex;
    /* Alinha a imagem e o texto na horizontal */
    align-items: center;
    /* Alinha verticalmente os itens ao centro */
    gap: 25px;
    /* Adiciona um espaço entre a imagem e o texto */
}

.loc img {
    margin-left: 0.5rem;
    width: auto;
    /* Mantém o tamanho original da imagem */
    height: 30px;
    /* Ajuste a altura conforme necessário */
}

.emLinha {
    display: flex;
    flex-direction: column;
    /* Alinha os textos em coluna */
}