/* Estilo do container principal onde o formulário está */
.container-cadastro-parceiro {
    width: 979px;
    min-height: 617px;/*ajustes do samuelson*/
    height: fit-content;/*ajustes do samuelson*/
    padding: 0 0 2.2rem 0;/*ajustes do samuelson*/
    flex-shrink: 0;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.14);
    background: #FFF;
    backdrop-filter: blur(54.65px);
    filter: drop-shadow(30px 30px rgba(217, 217, 217, 0.28));
}

/* Estilo para a área que contém o cabeçalho e os dados */
.cabecalho-formulario-cadastro {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 31.7rem;
}

.error{
    margin: 0;/*ajustes do samuelson*/
}

/* Cabeçalho principal do formulário */
.cabecalho-cadastroMercado {
    color: var(--Azul-Principal, #0C194E);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 12px;
    padding: 0.2rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
}

.cadastroMercado2 {
    color: var(--Azul-Principal, #0C194E);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 12px;
    padding: 0.2rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
}

/* Estilo para a descrição abaixo do cabeçalho */
.dados-cadastroMercado {
    color: var(--Verde-Principal, #00C677);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 12px;
    margin-top: auto;
    padding: 0.5rem;
    margin-left: 2.7rem;
    margin-bottom: 1.6rem;

}

/* Estilo do botão de voltar */
.botao-voltar {
    width: 24px;
    height: 24px;
}

/* Estilo para a imagem de capa (direita) */
.direita {
    width: 100%;
    height: auto;
}

/* Estilo para os containers de inputs */
.inputs-cadastro-parceiro {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;  /* Menor espaçamento entre os inputs */
    margin-top: 1rem;
    margin-left: 1.7rem;
}

/* Estilo para os inputs */
.input {
    width: 420px;
    height: 52px;
    flex-shrink: 0;
    border-radius: var(--Corner-Extra-small, 4px);
    border: 0.5px solid rgba(0, 0, 0, 0.39);
    background: #FFF;
}

/* Estilo para os rótulos (labels) dos campos */
.labelCM {
    color: #0C194E;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px; /* 75% */
    margin-bottom: 0.5rem;
    margin-top: 1.4rem;/*ajustes do samuelson*/
    position: relative;/*ajustes do samuelson*/
    z-index: 1;
}

.botao-proximo-cadastro {
    color: #FFF;
    width: 420px;
    height: 52px;
    border-radius: 50px;
    border: 2px solid #0C194E;  /* Ajuste a espessura da borda, caso necessário */
    background: var(--Azul-Principal, #0C194E); /* Azul */
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    margin-top: 1.4rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.botao-proximo-cadastro:hover {
    color: #0C194E; /* Texto azul */
    background: #FFF;
    border-color: #0C194E; /* Borda azul */
}


/* Estilo para os erros de validação */
.error {
    color: red;
    font-size: 15px;
    margin-top: 0.5rem;
}

/* Estilo para o campo de senha com o ícone de olho */
.input[type="password"], .input[type="text"] {
    position: relative;
}

/* Estilo para o ícone do olho (mostrar/esconder senha) */
#icone-olho {
    font-size: 23px;
}

/* Estilo para o botão de "Voltar" */
.btn-cadastro {
    background: none;
    border: none;
    cursor: pointer;
}

/* Estilo do botão de "Voltar" ao passar o mouse */
.botao-voltar:hover {
    opacity: 0.7;
}

/* Estilo para o formulário */
.form-containerCM {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-left: 1.4rem;
}

/* Estilos gerais do formulário */
.container-cadastrese {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.espacamentoCM{
    margin-top: 2.2rem;
}