.background-cadastro {
    background-image: url('../assets/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.image-container {
    margin-bottom: 5%;
    cursor: pointer;
}

.btn-cadastro {
    background: none;
    border: none;
}

.botao-voltar {
    height: 32px;
}

.cadastrese-container {
    width: 979px;
    height: 617px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.5%;
    flex-shrink: 0;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.14);
    background: #FFF;
    backdrop-filter: blur(54.65px);
    filter: drop-shadow(30px 30px rgba(217, 217, 217, 0.28));
    scale: 0.9;
}

.cadastrese-containerCliente {
    width: 979px;
    height: 617px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5%;
    flex-shrink: 0;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.14);
    background: #FFF;
    backdrop-filter: blur(54.65px);
    filter: drop-shadow(30px 30px rgba(217, 217, 217, 0.28));
    scale: 0.9;
}

#form-endereco .form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;

}

.form-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.form-containerClientes {
    display: flex;
    width: 94%;
    justify-content: space-between;
}

.detalhes-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.detalhes-container p {
    font-family: 'poppins', sans-serif;
    color: #00C677;
    font-weight: 500;
    font-size: 18px;
    margin-left: 1.5rem;
    margin-top: -13px;
}

.etapa1 {
    color: #0C194E;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 12px;
    /* 66.667% */
    margin-left: 1.7rem;
    margin-bottom: 2rem;
}

.form-endereco-cliente {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-left: 0.6rem;
    gap: 0.2rem;
}

.container-inputs {
    display: flex;
    flex-direction: column;
    width: 48%;
    gap: 0.7rem;
}

.input {
    width: 100%;
    height: 52px;
    flex-shrink: 0;
    padding: 0 15px;
    font-size: 18px;
    border-radius: var(--Corner-Extra-small, 4px);
    border: 0.5px solid rgba(150, 150, 150, 0.39);
    background: #FFF;
}

.cabecalho-cadastro {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
}

.cabecalhoCadastroCliente {
    color: #0C194E;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    display: flex;
    gap: 36.9rem;
    margin-top: -2rem;
}

.cabecalho-cadastro h1 {
    font-family: 'poppins', sans-serif;
    color: #0C194E;
    font-weight: 600;
}

.container p {
    display: flex;
   
}

.cadastre-se {
    color: var(--Azul-Principal, #0C194E);
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.acessarCadastro {
    color: #FFF;
    width: 420px;
    height: 52px;
    border-radius: 50px;
    border: #0C194E;
    background: var(--Azul-Principal, #0C194E);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    margin-top: 29px;
}

.acessarCadastroCliente {
    color: #FFF;
    width: 420px;
    height: 52px;
    border-radius: 50px;
    border: #0C194E;
    background: var(--Azul-Principal, #0C194E);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
}

.acessarCadastro2 {
    color: #FFF;
    width: 94%;
    height: 52px;
    border-radius: 50px;
    border: #0C194E;
    background: var(--Azul-Principal, #0C194E);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    margin-top: 26px;
}

.error {
    color: red;
    font-size: 15px;
    margin-top: 0.5rem;
}

.contador {
    width: 190px;
    height: 23px;
    flex-shrink: 0;
    margin-top: 2.2rem;
    margin-left: 0.2rem;
}