.btn-acessar-login {
    color: #FFF;
    width: 100%;
    height: 56px;
    flex-shrink: 0;
    border-radius: 50px;
    border: #0C194E;
    background: var(--Azul-Principal, #0C194E);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 12px;
}


.login-container {
    width: 590px;
    height: 574px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.14);
    background: #FFF;
    backdrop-filter: blur(54.650001525878906px);
    filter: drop-shadow(30px 30px rgba(217, 217, 217, 0.28));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem;
}

.cabecalho-login {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detalhes-container-login {
    display: flex;
    align-items: start;
    justify-content: start;
    width: 100%;
    height: 20%;
}

.detalhes-container-login p {
    font-family: 'poppins', sans-serif;
    color: #00C677;
    font-weight: 500;
    font-size: 18px;
    margin-top: 0.5rem;
}

.form-container-login {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70%;
}

.inputs-conainer-login {
    height: 70%;
    display: flex;
    flex-direction: column;
    gap: 4%;
}

.btn-container-login {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 30%;
}

.identificador-container .input-login {
    width: 75%;
    height: 52px;
    flex-shrink: 0;
    padding: 0 15px;
    font-size: 18px;
    border-radius: var(--Corner-Extra-small, 4px);
    border: 0.5px solid rgba(150, 150, 150, 0.39);
    background: #FFF;
}

.input-login {
    width: 100%;
    height: 52px;
    flex-shrink: 0;
    padding: 0 15px;
    font-size: 18px;
    border-radius: var(--Corner-Extra-small, 4px);
    border: 0.5px solid rgba(150, 150, 150, 0.39);
    background: #FFF;
}

.identificador-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.labelEscolha {
    color: var(--Azul-Principal, #0C194E);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
    margin-bottom: 0.5rem;
}

.acessarParceiro {
    width: 100%;
    height: 52px;
    border-radius: 50px;
    color: #FFF;
    border: #0C194E;
    background: var(--Azul-Principal, #0C194E);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 12px;
}