@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.tudo {
    width: 100%;
    height: 100%;
}

.tela-dentro-mercado {
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 84px;
}

.sideBar-dentro-mercado {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px  rgba(226, 226, 226, 0.307);
}

.cabecalio-mercado-container {
    scale: 0.95;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    width: 100%;
    border-bottom: 2px rgb(218, 218, 218) solid;
    height: 12%;
}

.logo-container-mercado{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logo-mercado{
    width: 70px;
    height:70px;
    border-radius: 100%;
}

.nome-mercado-container{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nome-mercado-container h5 {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.endereco-cnpj-container {
    scale: 0.95;
    display: flex;
    flex-direction: column;
    gap: 2%;
    padding: 4%;
    width: 88%;
    height: 34%;
    border-bottom: 2px rgb(218, 218, 218) solid;
}

.sub-titulo-verde {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #00C677;
}

.endereco-cnpj-container h5 {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
}

.titulo-outras-info {
    margin-top: 10%;
}

.horario-container {
    scale: 0.95;
    display: flex;
    justify-content: space-between;
    width: 88%;
    border-bottom: 2px rgb(218, 218, 218) solid;
    padding: 4%;
}

.horarios-funcion-container {
    margin-top: 17.2%;
}

.contato-container {
    scale: 0.95;
    display: flex;
    flex-direction: column;
    width: 88%;
    height: 8%;
    padding: 4%;
}

.todos-produtos-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.topico-produtos {
    margin-top: 1%;
    scale: 0.98;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    padding: 1.5% 0% 1.5% 1.5%;;
}

.topico-produtos h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 25px; 
}

.sessao-produtos-container {
    width: 100%;
    height: fit-content;
    display: flex;
    padding: 0 0 0 1.5%;
}

.card-produto {
    padding: 0.6% 0.8%;
    width: 146px;
    height: fit-content;
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.card-produto p{
    margin-right: auto;
}

.descricao-produto{
    margin-right: auto;

}

.card-produto:hover {
    cursor: pointer;
    background-color: #eeeeee60;
}

.espaco-colocar-img {
    display: flex;
    justify-content: center;
    padding: 1%;
    height: 127.5px;
    width: 127.5px;
    border-radius: 4%;
    background-color: #f1f1f1; 
    position: relative;
}

.imagem-produto {
    z-index: 0;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.botaoAdd {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border: none;
    background-color: #dddddd;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    bottom: 5px; 
    right: 5px;
}

.iconsvgMais {
    height: 16px;
    width: 16px;
}

.detalhes-produto-container{
    text-align: start;
    width: 100%;
}

.preco-produto {
    margin-top: 7%;
    margin-bottom: 2%;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #00C677;
}

.descricao-produto {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 450;
    
    color: #3d3d3d;
}

.container-sessoes{
    display: flex;
    flex-direction: column;
}