@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Adicione isso para evitar que elementos excedam a largura ao aplicar padding */
  
}

html, body, #root {
  height: 100%;
  font-family: "Poppins", sans-serif;
}

@media only screen and (min-width: 1200px) {
  body {
    zoom: 75%;
  }
}

@media only screen and (min-width: 1920px) {
  body {
    zoom: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  body {
    zoom: 100%;
  }
}
